* {
margin:0;
padding:0;
}
html {
  position: relative;
  min-height: 100%;
}
h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address {
margin:0.5em 0;
}
li,dd {
margin-left:1em;
}
fieldset {
padding:.5em;
}
a {
text-align: left;
text-decoration: none;
color:#999;
}
a:hover {
text-decoration: underline;
color: gray;
}
img {
border: 0px;
}
li {
text-align: left;
}
body {
	/* Margin bottom by footer height */
  margin-bottom: 54px;
padding:0;
font-size: 1em;
font-family: Arial,Halvetica,sans-serif;
font-style: normal;
text-align: left;
line-height:1.3;
}

/* page_layout - main wrapper */ 
#page_layout {
	/*width: 960px;
	margin: 0 auto;*/
}

/* Header*/

.header-site-branding {
	height: 88px;
}
.header-nav {
	height: 54px;
	background-color: #393939;
}
	/* main-menu */
	
	.shailan-dropdown-menu ul {
		list-style: none;
		padding: 0 0 0 30px;
	}
	.shailan-dropdown-menu li {
		float: left;
		margin: 0 15px 0 0;
	}
	.shailan-dropdown-menu ul li a {
    color: #fff;
    display: block;
    font-family: "Rajdhani",sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding:  15px 26px 0 0;
	}
	
	/* sub-menu */

	

/* Main */
.main {
	padding: 0.8em 15px;
}

	/* Sidebar */
	
	.yith-s { /* YITH WooCommerce Ajax Search */
		display: block;
		max-width: 100%;
		height: auto;
	}
	.product_list_widget {
		list-style: none;
	}
	.product_list_widget li {
		margin: 0 0 10px 0;
		border: 1px dotted gray;
	}
	.product_list_widget li a img { /* like bootstrap  .img-responsive */
		display: block;
		max-width: 100%;
		height: auto;
	}
	.product-title {
		text-align: center;
		width: 100%;
		float: left;
	}
	.woocommerce-Price-amount {
		text-align: center;
		max-width: 100%;
		display: block;
		height: auto;
	}

/* Footer */
.footer {
	position: absolute;
	
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
	height: 54px;
	background-color: #393939;
}
	.footer-nav {
		color: #fff;
	    display: block;
	    font-family: "Rajdhani",sans-serif;
	    font-size: 18px;
	    font-weight: 500;
	    padding-top: 15px;
	}